.bookings {
    font-size: 0.7rem;
    top: 0;
}
.showcasem img{
    height: 2000px;
}
.bookings .forms h2{
    font-size: 0.7rem;
    padding: 0.5rem 1.5rem;
    padding-bottom: -0.7rem;
}
.bookings .forms form {
    display: block;
    padding: -0.5rem;
}

.bookings .forms form *{
    font-size: 0.7rem;
    
}
.container{
    height: 40vh;
}

.container-down .images{
    display: grid;
    grid-template-columns: 1fr;
}

.container-down .explore-nature{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}