/*STYLE.CSS for travel*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100i,200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

:root{
    --primary-color:#F44336;
    --background-color:#f1f1f1;
    --dark-background:#606060;
}

body{
/*    font-family: 'Poppins', sans-serif;*/
    background: var(--background-color);
/*  box-sizing: border-box;*/
    box-sizing: border-box;
}

html{
    font-family: 'Raleway',sans-serif;
}

.navbar ul li a{
    padding: 1rem;
}
.navbar ul li a:hover{
    background: var(--primary-color);
    color: #fff;
}

a{
    color: var(--primary-color);
/*    font-family: raleway;*/
    text-decoration: none;
}

li{
    list-style: none;
}

.bottom-margin-30{
    margin-bottom: 30px;
}
.bottom-margin-40{
    margin-bottom: 40px;
}
.bottom-margin-20{
    margin-bottom: 20px;
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.p-0{padding:0.5rem;}
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.px-1{padding: 0 1.5rem;}
.px-2{padding: 0 2rem;}
.px-3{padding: 0 3rem;}

.py-0{padding: 0.5rem 0;}
.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.pt-1{padding-top: 1.5rem;}

.m-heading{
     font-weight: 300;
     font-size: 2rem;
}

.grey-color{
    color: #aaa;
}
.s-heading{
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Raleway',sans-serif;
}

/*NAVBAR*/
.navbar{
/*   height: 40px;*/
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: solid 1px #bbb;
    z-index: 1;
}
.navbar ul{
    display: flex;
/*    grid-template-columns: 1fr 1fr;*/
    justify-content: space-between;
    background: #fff;
    color: var(--primary-color);
    list-style: none;
}


.search{
/*    padding: 0 2rem;*/
}
.navbar ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'Raleway',sans-serif;
    list-style: none;
    font-weight: 600;
}

/*
.dummy{
    height: 60px;
    width: 100%;
}
*/


/*SHOWCASE*/

.container{
    width: 99%;
    margin: 0 auto;
    background:var(--background-color);
    height: 100vh;
}


.container .showcase{
    position: relative;
/*    z-index: 1;*/
}

.container .showcase .bookings{
    position: absolute;
    margin: 0 auto;
    width: 65%;
    top: 30%;
    left: 17%;
    align-items: center;
    margin: 0 auto;
    z-index: 0;
}

.container .showcase .bookings .item{
    background: #000;
    width: 100%;
    
}



.container .showcase .bookings .item ul{
    display: flex;
    justify-content: flex-start; 
   
}

.current{
    background: var(--primary-color);
}

.container .showcase .bookings .item ul li{
 padding: 0.7rem;
}

.container .showcase .bookings .item ul li a{
        text-decoration: none;
    color: #fff;
    

}
.down{
    top:20%;
}
.container .showcase .bookings form{
    background: #fff;
    padding: 1.5rem;
    display: grid;
    grid-template-columns:       1fr 1fr;
}

.container .showcase .bookings .forms{
/*    display:grid;*/
    background: #fff;
}

.container .showcase .bookings .forms .labels{
    display: block;
}

.container .showcase .bookings .forms .textfield{
    display: block;
    width: 95%;
}

.container .showcase .bookings .forms .btn{
    
    background: var(--dark-background);
    color: #fff;
    border: none;
    margin-top: 2rem;
}

.container .showcase .bookings .forms .btn:hover{
    background: #000;
    color: #fff;    
    cursor: pointer;
}


/*OFFERS*/


.container-down{
    width: 70%;
    margin: 0 auto;
/*        background: #000;*/
    padding: 1rem;
/*    height: 100px;*/
/*    top: 10000px;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
}

.container-down .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}


.container-down .images .right{
    display: grid;
    grid-template-columns: 1fr 1fr;
/*    grid-gap: 0.5rem;*/
    grid-column-gap: 0.5rem;
}




.container-down .images .left .ct{
    top:85%;
    color: #fff;
    left:5%;
}

.ny{
    top: 75%;
    color: #fff;
    left: 5%;    
}



/*EXPLORE NATURE*/

.container-down .explore-nature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
/*    grid-row-gap: 1rem;*/
}

.container-down .buy-ticket{
/*    background: #ccc;*/
    color: #000;
    margin-top: 0.5rem;
/*    padding-bottom: 5rem;*/
}

.container-down .buy-ticket:hover{
    background: #777;
    cursor: pointer;
}

.container-down .explore-nature .left{
    background: #fff;
}

.container-down .explore-nature .left .info{
/*    background: #fff;*/
}


/*OFFERS FORM*/


.container-down .form{
    background: #000;
    color: #fff;
    position: relative;
}


.container-down .form form *{
    display: block;
}

.container-down .form form .email{
    width: 100%;
    margin-bottom: 1rem;
}


.send{
    border: none;
    background: var(--primary-color);
    color: #fff;
}

.send:hover{
    background: #777;
    color: 
}

.overlay{
    position: absolute;
    height: 98.5%;
    width: 100%;
/*    top: 90%;*/
/*    left: 90%;*/
    background:rgba(0,0,0,0.4);
    display: block;
    
}

/*CONTACT*/


.contact span{
    display: block;
    font-size: 1rem;
    padding-left: 1.5rem;
}


.contact p{
    font-size: 1rem;
}

.contact  form input[type="text"]{
    width: 100%;
    display: block;
    padding: 1rem;margin:1rem;
    font-size: 1rem;
}


.contact  form input[type="submit"]{
    padding: 1rem;
    border: none;
    background: #000;
    color: #fff;
    font-size: 1rem;
    margin: 1rem;
}

.contact  form input[type="submit"]:hover{
    background: #777;
    color: #fff;
}
.socialmedia span{
    display: inline;
    color: #666;
/*    background: #000;*/
    font-size: 2rem;
    margin-bottom: 30px;
}

.contact .container-down .socialmedia{
   text-align: center;
  margin: 0 auto;
}



.center{
    text-align: center;
}

.margin-30{
    margin: 30px;
}


